<!-- Footer -->
<hr/>
<footer class="text-center text-lg-start bg-body-tertiary text-muted">

    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem"></i>Massage Palace
                    </h6>
                    <p>
                        "Massage is not just a luxury. It's a way to a healthier, happier life." - CEO of Massage Palace

                    </p>
                </div>
              

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home "></i>Ungbrodersgatan 18, 41573 Göteborg</p>
                    <p>
                        Mail: <a class="text-reset fw-bold" href="mailto:nagh2200@student.miun.se">nagh2200@student.miun.se</a>
                    </p>
                    <p><i class="fas fa-phone"></i>Tel: 070 390 33 90</p>
                </div>
            </div>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-reset fw-bold" asp-controller="Home" asp-action="Index">Massage Palace</a>
    </div>
</footer>