@using Microsoft.AspNetCore.Http

@{
    string url = Context.Request.Path;

}

<ul class="navbar-nav flex-grow-1">

    @if (url == "/Schedule/MyBookings")
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Schedule" asp-action="Index">Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Schedule" asp-action="MyBookings">My Bookings</a>
        </li>
    }
    else if (url.Contains("Schedule"))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Schedule" asp-action="Index">Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Schedule" asp-action="MyBookings">My Bookings</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Schedule" asp-action="Index">Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Schedule" asp-action="MyBookings">My Bookings</a>
        </li>
    }

</ul>
