@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>

    <p>The massage palace was established 2018 by our founder and CEO Navid Ghate. Navid has been in the business for a
        decade as he is a licensed physiotherapist. Navid began his journey as a physiotherapist at the local hospital
        with a goal in sight to start his own business. Navid's goal with the massage palace was to bring peace and
        harmony for all who seeks it, bring exceptional experience towards its customers and to grant high quality
        threatment to those in need!</p>

    <h3 class="display-6 mb-4">Who are we?</h3>


    <figure class="figure col-12">
        <img class="figure-img img-fluid rounded" src="../img/img2.jpg" alt="Our founder and CEO Navid Ghate">
        <figcaption class="figure-caption">Our founder and CEO, Navid Ghate</figcaption>
    </figure>
    <figure class="figure col-12">
        <img class="figure-img img-fluid rounded" src="../img/img3.jpg" alt="Our COO Sandra Tinsveds">
        <figcaption class="figure-caption">COO, Sandra Tinsveds</figcaption>
    </figure>
    <figure class="figure col-12">
        <img class="figure-img img-fluid rounded" src="../img/img4.jpg" alt="Our CFO Aaron Ghate Tinsveds">
        <figcaption class="figure-caption">CFO, Aaron Ghate Tinsveds</figcaption>
    </figure>

    <p>This website it fictional and everything written above is fiction!</p>
</div>