@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Massage palace</h1>
    
    <p>At the masssage palace, we deliver high-quality therapy sessions.</p>
    <p>Our premises our designed to soothe both body and mind and leave you energized after the therapy.</p>
    <p>Our therapies ranges from fullbody massage to specific body parts, but we also do custom jobs.</p>
    <p>You are welcome to <a asp-action="Index" asp-controller="Schedule"/>book<a/> your therapy, or to contact us for further details!</p>
    <img class="img-thumbnail" src="img/img1.jpg" alt="Girl getting a backrub">

    <p></p>
</div>
